= render "groups/settings_head"
.panel.panel-default.prepend-top-default
  .panel-heading
    Group settings
  .panel-body
    = form_for @group, html: { multipart: true, class: "form-horizontal gl-show-field-errors" }, authenticity_token: true do |f|
      = form_errors(@group)
      = render 'shared/group_form', f: f

      = render 'repository_size_limit_setting', f: f

      .form-group
        .col-sm-offset-2.col-sm-10
          .avatar-container.s160
            = image_tag group_icon(@group), alt: '', class: 'avatar group-avatar s160'
          %p.light
            - if @group.avatar?
              You can change your group avatar here
            - else
              You can upload a group avatar here
          = render 'shared/choose_group_avatar_button', f: f
          - if @group.avatar?
            %hr
            = link_to 'Remove avatar', group_avatar_path(@group.to_param), data: { confirm: "Group avatar will be removed. Are you sure?"}, method: :delete, class: "btn btn-remove btn-sm remove-avatar"

      = render 'shared/visibility_level', f: f, visibility_level: @group.visibility_level, can_change_visibility_level: can_change_group_visibility_level?(@group), form_model: @group

      .form-group
        .col-sm-offset-2.col-sm-10
          = render 'shared/allow_request_access', form: f

      = render 'group_lfs_settings', f: f

      .form-group
        %hr
        = f.label :membership_lock, class: 'control-label' do
          Member lock
        .col-sm-10
          .checkbox
            = f.check_box :membership_lock
            %span.descr Prevent adding new members to project membership within this group

      .form-group
        %hr
        = f.label :share_with_group_lock, class: 'control-label' do
          Share with group lock
        .col-sm-10
          .checkbox
            = f.check_box :share_with_group_lock
            %span.descr Prevent sharing a project with another group within this group


      .form-actions
        = f.submit 'Save group', class: "btn btn-save"

.panel.panel-danger
  .panel-heading Remove group
  .panel-body
    %p
      Removing group will cause all child projects and resources to be removed.
      %br
      %strong Removed group can not be restored!

    .form-actions
      = link_to 'Remove Group', @group, data: {confirm: 'Removed group can not be restored! Are you sure?'}, method: :delete, class: "btn btn-remove"
