%h3.page-title
  = @user.name
  - if @user.blocked?
    %span.cred (Blocked)
  - if @user.admin
    %span.cred (Admin)
  - if @user.auditor
    %span.cred (Auditor)

  .pull-right
    - unless @user == current_user || @user.blocked?
      = link_to 'Impersonate', impersonate_admin_user_path(@user), method: :post, class: "btn btn-nr btn-grouped btn-info"
    = link_to edit_admin_user_path(@user), class: "btn btn-nr btn-grouped" do
      %i.fa.fa-pencil-square-o
      Edit
%hr
%ul.nav-links
  = nav_link(path: 'users#show') do
    = link_to "Account", admin_user_path(@user)
  = nav_link(path: 'users#projects') do
    = link_to "Groups and projects", projects_admin_user_path(@user)
  = nav_link(path: 'users#keys') do
    = link_to "SSH keys", keys_admin_user_path(@user)
  = nav_link(controller: :identities) do
    = link_to "Identities", admin_user_identities_path(@user)
  = nav_link(controller: :impersonation_tokens) do
    = link_to "Impersonation Tokens", admin_user_impersonation_tokens_path(@user)
.append-bottom-default
